body {
    background-color: yellow; 
    border: 10px dotted black;
}

header {
    background-color: whitesmoke;
    color: black;
    border: 10px solid red; 
    padding: 1px;
    margin: 10px;
}

main {
    background-color: yellow;
    color: black;
    border: 10px solid maroon;
    padding: 10px;
    margin: 5px;
    float: left;
}

footer {
    background-color: whitesmoke; 
    color: black; 
    border: 5px solid green;
    padding: 10px;
    margin: 5px;
}