body {
    background-color: white; 
    color: black; 
    margin: 10px;
    padding: 15px
}

header {
    background-color: 
    color: black;
    border: 5px solid black; 
    padding: 5px;
}

footer {
   color: red; 
}